@model SalesInMove.Models.Company

@{
    ViewData["Title"] = "Profile";
}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>
<h1>Profile</h1>

<div class="container">
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PositionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PositionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyProfile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyProfile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Headquarter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Headquarter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Registry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Registry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearOfFoundation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOfFoundation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfSalesman)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfSalesman)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnnualNettoIncome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnnualNettoIncome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeOpinions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeOpinions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalesSupport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalesSupport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CompanyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
